#menu-mobile {
  position: fixed;
  /* EDIT here to modify the distance from the bottom */
  bottom: 0px;

  /* row */
  > .row {
    padding-block: 10px;
  }

  /* icons */
  > .row.icons {
    color: white;
    z-index: 9999;
    /* columns */
    > .col {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      /* icons */
      > span:nth-of-type(1) {
        font-size: 1.5rem;
      }
      /* labels */
      > span:nth-of-type(2) {
        font-size: 0.8rem;
      }
    }
  }

  /* background layer */
  > .background-layer {
    position: absolute;
    opacity: 0.8;
    background: linear-gradient(to top, #000000 50%, #666666 100%);
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
