#media-player-mobile {
  /* EDIT HERE. this value pushes the media player from the bottom */
  z-index: 9999;
  /* opacity: .9; */

  /* the row */
  > .row {
    font-size: 1.5rem;
    padding-block: .4rem;
    margin-inline: 10px;
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: .5rem;

    /* all columns */
    > .col {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* column 1 (song title) */
    > .col:nth-of-type(1) {
      font-size: 1.5rem;
      justify-content: end;

      /* song title */
      > span {
        /* padding-left: 10px;
            text-wrap: nowrap; */
      }
    }

    /* column 4 (play button) */
    > .col:nth-of-type(4) {
      font-size: 2rem;
    }
  }
}
