/***** MENU & MEDIA PLAYER - CONTAINER *****/
#menu-and-player-mobile {
    position: fixed;
    bottom: 0;
    padding: 0;
}


/***** MENU - MOBILE *****/
#menu-mobile {

  /* row */
  > .row {
    padding-block: 10px;
  }

  /* icons */
  > .row.icons {
    color: white;
    z-index: 9999;
    /* columns */
    > .col {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      /* icons */
      > span:nth-of-type(1) {
        font-size: 1.3rem;
      }
      /* labels */
      > span:nth-of-type(2) {
        font-size: 0.8rem;
      }
    }
  }

  /* background layer */
  > .background-layer {
    position: absolute;
    opacity: 0.8;
    background: linear-gradient(to top, #000000 50%, #666666 100%);
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}


/***** MEDIA PLAYER - MOBILE  *****/
#media-player-mobile {
  /* EDIT HERE. this value pushes the media player from the bottom */
  z-index: 9999;
  /* opacity: .9; */

  /* the row */
  > .row {
    font-size: 1.5rem;
    padding-block: .4rem;
    margin-inline: 10px;
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: .5rem;

    /* all columns */
    > .col {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* column 1 (song title) */
    > .col:nth-of-type(1) {
      font-size: 1.5rem;
      justify-content: end;

      /* song title */
      > span {
        /* padding-left: 10px;
            text-wrap: nowrap; */
      }
    }

    /* column 4 (play button) */
    > .col:nth-of-type(4) {
      font-size: 2rem;
    }
  }
}
