:root {
  --bg-primary: #121212;
  --bg-secondary: #181818;
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --green-spotify: #1db954;
}

body[data-bs-theme="dark"] {
  background: var(--bg-primary);
  color: var(--text-primary);
}

.bg-secondary {
  background: var(--bg-secondary) !important;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: #198754 !important;
}

#categories-container > div > a,
#playlist-container > div > div {
  transition: 0.5s ease-in-out;
}

#categories-container > div > a:hover,
#playlist-container > div > div:hover {
  background-color: #198754;
  transform: scale(1.05);
  transform-origin: center;
}

/* per hover album */
.hover-bg-secondary:hover {
  background: rgba(255, 255, 255, 0.05); /* Effetto hover stile Spotify */
}
