/* #search-results  { */


    /* the individual search card */
    .search-card {

        .card-title {

            &:hover {
                text-decoration: underline;
            }
        }
     
        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
/* } */